body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    
    margin: 0;
    background-color: #1e1e1e;
    
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 24px 20px;
    color: #f5f5f5;
}

.header__logo {
    display: block;
    width: 79px;
    height: 16px;
}

.header__logo-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.header__menu {
    display: flex;
    

}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__menu-item {
    list-style-type: none;
}

.header__menu-link {
    color: #f5f5f5;
    text-decoration-line: none;
    border-bottom: 2px solid #f5f5f5;
}

.header__menu-item_active .header__menu-link{
    border: 0;
}

.cover {
    padding: 7px 0 30px 20px;
}

.cover__title {
    font-family: 'EB Garamond', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
    color: #fff;
    background-image: url(../images/cover.svg);
    background-position:bottom;
    background-repeat: no-repeat;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
    padding-right: 22px;
}

.text-right {
    text-align: right;
    padding-right: 24px;
}

.intro {
    padding: 0 20px 38px;
}

.reasons {
    padding: 40px 20px;
}

.how-to {
    padding: 40px 20px 60px;
}

.footer {
    padding: 20px;
}

.content-section {
    width: 360px;
    margin: auto;
    box-sizing: border-box;
}


.content-section_theme_dark{
    background-color: #131313;
}

.content-section_theme_bright{
    background-color: #fee42a;
}