body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #f5f5f5;
    margin: 0;
    background-color: #1e1e1e;
    
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    width: 360px;
    margin: auto;
    box-sizing: border-box;
}

.content-section_theme_dark{
    background-color: #131313;
    color: #f5f5f5;
}

.content-section_theme_bright{
    background-color: #fee42a;
    color: #131313;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 24px 20px;
    
}

.header__logo {
    display: block;
    width: 79px;
    height: 16px;
}

.header__logo-image {
    background-size: cover;
    background-repeat: no-repeat;
}

.header__menu {
    display: flex;
    

}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__menu-item {
    list-style-type: none;
}

.header__menu-link {
    color: #f5f5f5;
    text-decoration-line: none;
    border-bottom: 2px solid #f5f5f5;
}

.header__menu-item_active .header__menu-link{
    border: 0;
}

.cover {
    padding: 7px 0 30px 20px;
    
}

.cover__title {
    font-family: 'EB Garamond', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 104%;
    color: #fff;
    background-image: url(../images/cover.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
    padding-right: 22px;
}

.text-right {
    text-align: right;
    padding-right: 24px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 20px 38px;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    color: #ccc;
}

.intro__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text {
    line-height: 1.35;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.reasons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px;
    
}

.content-section__list-accent {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.35;
}

.content-section__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding-left: 16px;
    line-height: 1.35;
    
}

.content-section__subtitle {
    font-family: 'EB Garamond', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.15;
    
}

.content-section__subtitle .text-right {
    padding-right: 0;
}

.content-section__introduction {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.35;
}

.how-to {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px 60px;
}

.card_theme_dark {
    background-color: #343434;
    border-radius: 30px;
}

.card_theme_bright {
    border-radius: 30px;
}

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    list-style-type: none;
    padding: 20px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__author {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__title {
    font-family: 'EB Garamond', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.35;
}

.card__text {
    line-height: 1.35;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #fee42a;
}

.footer__links {
    display: flex;
    list-style: none;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
}




